
<% title @company.name %>
<div>
	<%= @company.name %><br/>
	<%= @company.email %><br/>
	<%= @company.phone_number %><br/>
	<%= @company.address %><br/>
	<%= @company.city.name %><br/>
	<%= @company.neighbourhood.name %><br/>
</div>
      
      
      
      
      
      
